@import "tailwindcss";

@plugin "daisyui" {
  /* themes: light --default, dark; */
 
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* FULL NAME VARIABLES (for your own use) */
    --p: 355 74% 41%;   /* primary */
  --s: 0 100% 24%;   /* secondary */
  --a: 24 94% 54%;   /* accent */
  --n: 222 47% 11%;  /* neutral */

  --b1: 43 82% 91%;  /* base-100 */
  --b2: 220 14% 96%; /* base-200 */
  --b3: 220 13% 91%; /* base-300 */

  --in: 215 16% 47%; /* info */
  --su: 145 67% 36%; /* success */
  --wa: 24 94% 54%;  /* warning */
  --er: 355 74% 41%; /* error */
}

.container{
max-width:1440px;
/* padding: 16px; */
margin: 0 auto;
/* @apply px-4; */
}


.inline_nav a{
  @apply text-lg text-gray-600 font-semibold h-full flex items-center border-b-2 border-b-transparent;
}
.inline_nav a.active{
  @apply text-black border-b-blue-800!;
}
.inline_nav a:hover{
  @apply text-black border-b-gray-400;
}



.block_nav a{
  @apply text-lg text-gray-600 font-semibold h-full flex items-center p-3 border-l-4 border-l-transparent;
}
.block_nav a.active{
  @apply text-black border-l-blue-800! bg-blue-200!;
}
.block_nav a:hover{
  @apply text-black border-l-gray-400 bg-gray-200;
}


@layer components {
  h1 { @apply text-4xl md:text-6xl font-extrabold leading-tight tracking-tight mb-4; }
  h2 { @apply text-3xl md:text-5xl font-bold       leading-snug  tracking-tight mb-3.5; }
  h3 { @apply text-2xl md:text-4xl font-semibold   leading-snug  mb-3; }
  h4 { @apply text-xl md:text-2xl  font-semibold   leading-snug  mb-2.5; }
  h5 { @apply text-lg md:text-xl   font-medium     leading-normal mb-2; }
  h6 { @apply text-base md:text-lg  font-medium     leading-normal mb-1.5; }
}

.error{
  @apply alert text-red-500;
}

.my-btn{
  @apply px-8 py-4 rounded-xl bg-white text-red-700 font-semibold hover:bg-gray-100 transition
}

.my-btn2{
  @apply bg-linear-to-tr from-red-300 to-blue-200;
}